.personal-container,
.qualification-container {
  height: 90vh;
  display: flex;
}

.personal-details,
.qualification-details {
  width: 50%;
}

.qual-save {
  position: fixed;
  bottom: 8rem;
  right: 40px;
}
